<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>School</title>
    </head>
    <body>
        <h1>เวลคัมทูมายสคูล</h1>
        <h2>โรงเรียนจิตรลดาวิชาชีพ</h2>
        <br>
        <h3>สถาบันเทคโนโลยีจิตรลดา</h3>
        <p>อาคาร ๖๐ พรรษา ราชสุดาสมภพ</p>
        <p>สำนักพระราชวัง สนามเสือป่า</p>
        <p>ถนนศรีอยุธยา เขตดุสิต กรุงเทพฯ 10300</p>
        <br>
        <h3>Chitralada Technology Institute</h3>
        <p>Rajasudasambhava 60, Bureau of the Royal</p>
        <p>Household Sanam Sueapa, Si Ayutthaya Rd., Dusit, Bangkok 10300</p>
        <br>
        <h3>เบอร์ติดต่อ</h3>
        <p>โทรศัพท์ 0-2280-0551</p>
        <p>โทรสาร 0-2280-0552</p>
        <br>
        <h3>เวลาทำการ</h3>
        <p>ทุกวัน จันทร์-ศุกร์</p>
        <p>8.30 น. - 16.30 น.</p>
        <p>(ยกเว้น วันหยุดนักขัตฤกษ์)</p>
        <br>
        <h3>อีเมล</h3>
        <p>saraban@cdti.ac.th</p>
        <br>
        <a href="https://www.cdti.ac.th/">เว็ปไซต์โรงเรียน</a>
    </body>
</html>